/*Color theme: https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd
LInk: https://coolors.co/palettes/trending
Colors: 0D1B2A, 1B263B, 415A77, 778DA9, E0E1DD */
:root {
  --primary-color: rgb(13, 27, 42);
  --secondary-color: rgb(27, 38, 59);
  --accent-color: rgb(65, 90, 119);
  --light-color: rgb(119, 141, 169);
  --background-color: rgb(224, 225, 221);
}


body {
  background-color: #E0E1DD;
  text-align: center;
  font-size: 16px;
}

#ChangeMe{
  border-radius: 25px; /* Rounded corners, https://www.w3schools.com/css/css3_borders.asp */
  width: 400px;
  height: 400px;
  background: rgb(119, 141, 169);
  margin: 20px auto; /* Topp og bunn, 20 px, mens horisontalt sentrert */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect, https://www.w3schools.com/css/css3_shadows.asp */
  border: 1px solid #bfdbf7;
  display: flex; /* Flexbox layout, der du endrer størrelsen etter skjermenhttps://www.w3schools.com/css/css3_flexbox.asp */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
}

.button {  
  border-radius: 25px;
  background-color: rgb(119, 141, 169);
  border:1px solid rgb(13, 27, 42);
  color: rgb(224, 225, 221);
  padding: 20px 40px;
  text-align: center;
  margin: 20px;
  font-size: inherit; /*arver fontstørrelsen fra css for body */
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(2, 43, 58, 0.15);
    border-color: #1f7a8c;
}



.card {
    text-align: left;
    background-color:whitesmoke;
    border: 1px solid #bfdbf7;
    border-radius: 8px;
    padding: 20px;
    spacing: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(2, 43, 58, 0.15);
    border-color: #1f7a8c;
}

.card h4 {
    margin-left: 0;
    margin-top: 0;
    color: #022b3a;
}