/*Color theme: https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd
LInk: https://coolors.co/palettes/trending
Colors: 0D1B2A, 1B263B, 415A77, 778DA9, E0E1DD */


body {
  background-color: #E0E1DD;
  text-align: center;
}

#ChangeMe{
  border-radius: 25px; /* Rounded corners, https://www.w3schools.com/css/css3_borders.asp */
  width: 400px;
  height: 400px;
  background: rgb(119, 141, 169);
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect, https://www.w3schools.com/css/css3_shadows.asp */
}

.button {  
  border-radius: 25px;
  background-color: #778DA9;
  border:1px solid #415A77;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect, https://www.w3schools.com/css/css3_shadows.asp */
  color: #E0E1DD;
  padding: 20px 40px;
  text-align: center;
  font-size: 16px;
  margin: 20px;
}
#li {
  line-height: 2;
}